#interest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main{
   width: 80%;
    margin: 0 auto;
}
span{
    display: block;
}
h1{
    font-family: index_title;

}
p{
    font-size: 15px;
    border-left: 1px solid grey;
    padding-left: 5vw;
}


.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}